table,tr,td,th{
    border: 1px solid dimgray;
    margin:5px;
    text-align: center;
    padding: 10px;
}
table{width: 100%;}
.add{
    float: left;
}

.notification {
    background-color: white;
    color: dimgray;
    text-decoration: none;
    padding: 10px 16px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
    margin-right: 10px;
  }
  
  .notification:hover {
    background: dimgray;
    color: black;
  }
  
  .notification .badge {
    position: absolute;
    top: 20px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
  }